#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: false,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: "#101010",
    text_color: "#c8c8c8",
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "#ff4600"),
    preview_metadata_group_style: (fg: "#ff4600", modifiers: "Bold"),
    tab_bar: (
        active_style: (fg: "#101010", bg: "#ff4600", modifiers: "Bold"),
        inactive_style: (fg: "#c8c8c8", bg: "#101010"),
    ),
    highlighted_item_style: (fg: "#ff4600", modifiers: "Bold"),
    current_item_style: (bg: "#ff4600", fg: "#101010", modifiers: "Bold"),
    borders_style: (fg: "#9399b2"),
    highlight_border_style: (fg: "#c8c8c8"),
    symbols: (
        song: "󰝚",
        dir: "󰀥",
        playlist: "󰲸",
        marker: "M",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    level_styles: (
        info: (fg: "#ff4600", bg: "#101010"),
        warn: (fg: "#ff4600", bg: "#101010"),
        error: (fg: "#ff2300", bg: "#101010"),
        debug: (fg: "#c8dcc8", bg: "#101010"),
        trace: (fg: "#b4befe", bg: "#101010"),
    ),
  progress_bar: (
        symbols: ["█", "█", "█", "█", "█"],
        track_style: (fg: "#292929"),
        elapsed_style: (fg: "#ff4600"),
        thumb_style: (fg: "#ff4600", bg: "#292929"),
        use_track_when_empty: false,
    ), 
    scrollbar: (
        symbols: ["│", "█", "", "󰅀"],
        track_style: (fg: "#ff4600"),
        ends_style: (fg: "#101010"),
        thumb_style: (fg: "#ff4600"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#ff2300", modifiers: "Bold"),
                default: (kind: Text("Unknown"), style: (fg: "#ff2300", modifiers: "Bold"))
            ),
            width: "20%",
	    alignment: Right,
        ),
        (
            prop: (kind: Text("-"), style: (fg: "#c8c8c8"), default: (kind: Text("Unknown"))),
            width: "1",
            alignment: Center,
        ),
	(
            prop: (kind: Property(Title), style: (fg: "#ff4600", modifiers: "Bold"),
                default: (kind: Text("Unknown"), style: (fg: "#ff4600", modifiers: "Bold"))
            ),
            width: "80%",
	    alignment: Left
        ),
    ],

    components: {},
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Tabs),
                size: "1",
            ),
            	    (
		size: "1",
		style: (align: Right),
		pane: Split(
		
		direction: Horizontal,
		panes: [
  (size: "100%", pane: Pane(Property(content: [
  (kind: Text(" ("), style: (fg: "#c8c8c8", modififiers: "Bold")),

    (kind: Property(Status(RepeatV2(on_label: "", off_label: "",
				 on_style: (fg: "#c8dcc8", modifiers: "Bold"),
				 off_style: (fg: "#292929", modifiers: "Bold"))))),

	(kind: Text(" | "), style: (fg: "#c8c8c8", modififiers: "Bold")),

    (kind: Property(Status(RandomV2(on_label: "", off_label: "",
				 on_style: (fg: "#f5c2e7", modifiers: "Bold"),
				 off_style: (fg: "#292929", modifiers: "Bold"))))), 

    (kind: Text(" | "), style: (fg: "#c8c8c8", modififiers: "Bold")),


    (kind: Property(Status(ConsumeV2(on_label: "󰮯",off_label: "󰮯",oneshot_label: "󰮯 󰇊",on_style: (fg: "#f9e2af", modifiers: "Bold"),off_style: (fg: "#292929", modifiers: "Bold"),oneshot_style: (fg: "#89b4fa", modifiers: "Bold"),)))),

    (kind: Text(" | "), style: (fg: "#c8c8c8", modififiers: "Bold")),

	(kind: Property(Status(SingleV2(on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊", on_style: (fg: "#b4befe", modifiers: "Bold"), off_style: (fg: "#292929", modifiers: "Bold"), oneshot_style: (fg: "#f9e2af", modifiers: "Bold"))))),

	  (kind: Text(" )"), style: (fg: "#c8c8c8", modififiers: "Bold")),


  ], style: (fg: "#c8c8c8"), align: Right))),
		]

		),

	    ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
	    (
	    	size: "1",
		pane: Split(
		direction: Horizontal,
		panes: [
		(size: "2", pane: Pane(Property(content: [(kind: Text("󰕾 ")),], style: (fg: "#c8c8c8"), align: Left))),
		(size: "100%", pane: Pane(Volume(
		kind: Slider(
		symbols: (
			filled: "─",
	                thumb: "●",
			track: "─",
		),
		track_style: (fg: "#292929"),
		filled_style: (fg: "#ff4200"),
		thumb_style: (fg: "#292929"),

		)

		))),
		(size: "3", pane: Pane(Property(content: [(kind: Property(Status(Volume)), style: (fg: "#c8c8c8"))], align: Right))),
		(size: "1", pane: Pane(Property(content: [(kind: Text("%")),], style: (fg: "#c8c8c8"), align: Left))),
		]
		)

	    ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],


cava: (
    // symbols that will be used to draw the bar in the visualiser, in ascending order of
    // fill fraction
    bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
    // similar to bar_symbols but these are used for the top-down rendering, meaning for orientation
    // "Horizontal" and "Top"
    inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],

    //bg_color: "", // background color, defaults to rmpc's bg color if not provided
    bar_width: 1, // width of a single bar in columns
    bar_spacing: 1, // free space between bars in columns

    // Possible values are "Top", "Bottom" and "Horizontal". Top makes the bars go from top to
    // bottom, "Bottom" is from bottom up, and "Horizontal" is split in the middle with bars going
    // both down and up from there.
    // Using non-default symbols with "Top" and "Horizontal" may produce undesired output.
    orientation: Horizontal,

    // Colors can be configured in three different ways: a single color, different colors
    // per row and a gradient. You can use the same colors as everywhere else. Only specify
    // one of these:

    // Every bar symbol will be red
    //bar_color: Single("#ff2300"),

    bar_color: Gradient({

            12: "#c8dcc8",
            25: "#c8d2d2",
            36: "#c8c8dc",
            50: "#d2c8d2",
            60: "#ff9100",
            75: "#ff6900",
            84: "#ff4600",
            100: "#ff2300",    
    }),
  ),
    lyrics: (
        timestamp: false
    )
)
